*{
    padding: 2px;
}

/* Hide scoreboard and name entry initially */
.enter-score-container,
.high-score-container {
    display: none;  
}

.container{
    background-image: url("https://www.schoolphotoproject.com/_picture-of-vegetable/pumpkin-photo1-l.jpg");
    background-image: darkorange;
    color: white;
}

.topBar{
    background-color: orangered;
    text-align: center;
    color: black;
}
.content-body{
    background-color: wheat;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    color: black;
    padding-left: 40px;
    font-weight: bold;
}
.buttonArea{
    margin-left: -40px;
    margin-bottom: 10px;
    color: black;
}