*{
    padding: 2px;
}

/* Hide scoreboard and name entry initially */
.enter-score-container,
.high-score-container {
    display: none;  
}

.container{
    background-color: darkorange;
}

.topBar{
    background-color: orangered;
    text-align: center;
}
.content-body{
    background-color: wheat;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.buttonArea{
    margin-left: 45%;
    margin-bottom: 10px;
}

#quizQuestion{
    font-weight: bold;
    padding: 10px;
}